:root {
    --ue-font-family: Roboto;
    --ue-font-family-serif: Roboto;
    --ue-font-family-sc: Roboto;
    --ue-font-family-serif-sc: Roboto;
    /* --ue-font-family: 'Alegreya Sans';
    --ue-font-family-serif: Alegreya;
    --ue-font-family-sc: 'Alegreya Sans SC';
    --ue-font-family-serif-sc: 'Alegreya SC'; */
    --ue-font-size: 32px;

    --ue-color: #fff;
    --ue-bg-color: rgba(0, 0, 0, 0.2);
    --ue-border-color: #000;
    --ue-border-width: 1px;
    --ue-border-radius: 4px;

    --ue-focus-color: rgba(235, 215, 150, 1);
    --ue-focus-bg-color: rgba(0, 0, 0, 0.2);
    --ue-focus-border-color: rgba(235, 215, 150, 1);

    --ue-active-color: rgba(255, 245, 150, 1);
    --ue-active-bg-color: rgba(255, 245, 150, 0.2);
    --ue-active-border-color: rgba(255, 245, 150, 1);

    --ue-btn-width: 10em;
    --ue-btn-height: 2em;

    --ue-border: var(--ue-border-width, 1px) solid var(--ue-border-color, #888);
    --ue-focus-border: var(--ue-border-width, 1px) solid var(--ue-focus-border-color, #8af);
    --ue-active-border: var(--ue-border-width, 1px) solid var(--ue-active-border-color, #46a);
    --ue-border-blur: 1px;

    --ue-transition: background-color 0.5s, color 0.5s, transform 0.5s, border 0.5s;
    --shadow-color: rgba(0, 0, 0, 0.5);

    font-family: var(--ue-font-family);
    font-size: var(--ue-font-size);
    font-weight: lighter;

    --ue-border-blur: 1px;
    text-shadow: -1px -1px 1px var(--shadow-color), 0 -1px 1px var(--shadow-color),
        1px -1px 1px var(--shadow-color), 1px 0 1px var(--shadow-color),
        1px 1px 1px var(--shadow-color), 0 1px 1px var(--shadow-color),
        -1px 1px 1px var(--shadow-color), -1px 0 1px var(--shadow-color);
    color: white;
}

.serif {
    font-family: var(--ue-font-family-serif);
    /* font-weight: lighter; */
}

.small-caps {
    font-family: var(--ue-font-family-sc);
    font-weight: lighter;
}

.serif.small-caps {
    font-family: var(--ue-font-family-serif-sc);
    font-weight: lighter;
}

/* ue-button {
    --ue-color: #666;
    --ue-bg-color: #ccc;
    --ue-border-color: #888;
    --ue-border-width: 1px;
    --ue-border-radius: 4px;

    --ue-focus-color: #666;
    --ue-focus-bg-color: #acf;
    --ue-focus-border-color: #8af;

    --ue-active-color: white;
    --ue-active-bg-color: #8af;
    --ue-active-border-color: #46a;

    --ue-btn-width: 10em;
    --ue-btn-height: 2em;

    --ue-border: var(--ue-border-width, 1px) solid var(--ue-border-color, #888);
    --ue-focus-border: var(--ue-border-width, 1px) solid var(--ue-focus-border-color, #8af);
    --ue-active-border: var(--ue-border-width, 1px) solid var(--ue-active-border-color, #46a);
} */

body {
    background-color: transparent;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
}

#target {
    position: absolute;
    transform: translateX(-50%);
}

.glow {
    --shadow-color: rgba(255, 255, 255, 0.25);
    animation-name: glow-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes glow-pulse {
    from {
        box-shadow: none;
    }

    to {
        /* box-shadow: -1px -1px 0.25em var(--shadow-color), 0 -1px 0.25em var(--shadow-color),
            1px -1px 0.25em var(--shadow-color), 1px 0 0.25em var(--shadow-color),
            1px 1px 0.25em var(--shadow-color), 0 1px 0.25em var(--shadow-color),
            -1px 1px 0.25em var(--shadow-color), -1px 0 0.25em var(--shadow-color),
            -2px -2px 1em var(--shadow-color2), 0 -2px 1em var(--shadow-color2),
            2px -2px 1em var(--shadow-color2), 2px 0 1em var(--shadow-color2),
            2px 2px 1em var(--shadow-color2), 0 2px 1em var(--shadow-color2),
            -2px 2px 1em var(--shadow-color2), -2px 0 1em var(--shadow-color2); */
        text-shadow: -1px -1px 0.1em var(--shadow-color), 0 -1px 0.1em var(--shadow-color),
            1px -1px 0.1em var(--shadow-color), 1px 0 0.1em var(--shadow-color),
            1px 1px 0.1em var(--shadow-color), 0 1px 0.1em var(--shadow-color),
            -1px 1px 0.1em var(--shadow-color), -1px 0 0.1em var(--shadow-color),
            -2px -2px 0.25em var(--shadow-color2), 0 -2px 0.25em var(--shadow-color2),
            2px -2px 0.25em var(--shadow-color2), 2px 0 0.25em var(--shadow-color2),
            2px 2px 0.25em var(--shadow-color2), 0 2px 0.25em var(--shadow-color2),
            -2px 2px 0.25em var(--shadow-color2), -2px 0 0.25em var(--shadow-color2);
        color: white;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ue-content-item {
    overflow: auto;
}

ue-content-item > * {
    margin: 8px;
    animation-name: fadein;
    animation-duration: 0.5s;
}

ue-tab-group {
    height: 90vh;
    width: 90vw;
    margin: 1em;
    font-size: 0.75em;
    left: 5vw;
    top: 5vh;
}

ue-tab-group > * {
    font-size: 1em;
}

ue-slider {
    --ue-color: var(--ue-focus-bg-color);
}

ue-text {
    --ue-color: white;
}

ue-dropdown {
    --ue-bg-color: white;
    --ue-btn-height: 1.5em;
    --ue-btn-width: 12em;
}

ue-progress-bar {
    --ue-color: var(--ue-focus-bg-color);
    --ue-bg-color: transparent;
    --ue-border: 2px solid var(--ue-focus-bg-color);
    --ue-border-radius: 3px;
}

.btn-style-flat {
    --ue-border-radius: 0;
    --ue-border: 2px solid transparent;
    --ue-focus-border: 2px solid var(--ue-focus-border-color);
    --ue-active-border: 2px solid var(--ue-active-border-color);
}

.btn-style-1 {
    --ue-border-radius: 0.5em;
    --ue-border: 1px solid #888;

    --ue-bg-color: #ccc;

    --btn-focus-color: var(--text-color-primary);
    --btn-focus-bg-color: var(--bg-color-light);
    --btn-focus-border: 2px solid var(--color-primary);
    --btn-focus-transform: scale(1.05);
    --btn-focus-transition: background-color 0.2s, border 0.2s, color 0.2s, transform 0.2s;

    --btn-click-color: var(--text-color-primary);
    --btn-click-bg-color: var(--color-primary);
    --btn-click-border: 2px solid var(--color-primary);
    --btn-click-transform: scale(1.02);
    --btn-click-transition: background-color 0.1s, border 0.1s, color 0.1s, transform 0.1s;
}

.btn-style-dlg {
    --btn-font-size: 0.8em;
    --btn-border-radius: 0.25em;
    --btn-justify-content: center;
    --btn-width: 100%;

    --btn-bg-color: var(--bg-color-dark);

    --btn-focus-color: var(--text-color-primary);
    --btn-focus-bg-color: var(--bg-color-light);
    --btn-focus-border: 2px solid transparent;
    /* --btn-focus-transform: scale(1.05); */
    --btn-focus-transition: background-color 0.2s, border 0.2s, color 0.2s, transform 0.2s;

    --btn-click-color: var(--text-color-primary);
    --btn-click-bg-color: var(--color-primary);
    --btn-click-border: 2px solid var(--color-primary);
    --btn-click-transform: scale(1.02);
    --btn-click-transition: background-color 0.1s, border 0.1s, color 0.1s, transform 0.1s;
}

.centered-h {
    transform: translateX(-50%);
}

.centered-v {
    transform: translateY(-50%);
}

.centered,
#reticle {
    transform: translate(-50%, -50%);
}

.pos-h-left,
.pos-h-leftcenter,
.pos-h-center,
.pos-h-rightcenter,
.pos-h-right,
.pos-v-top,
.pos-v-high,
.pos-v-mid,
.pos-v-low,
.pos-v-bot,
#reticle {
    position: absolute;
}

.pos-h-center,
#reticle {
    left: 50vw;
}

.pos-h-left {
    left: 0;
}

.pos-h-leftcenter {
    left: 25vw;
}

.pos-h-right {
    right: 0;
}

.pos-h-rightcenter {
    right: 25vw;
}

.pos-v-mid,
#reticle {
    top: 50vh;
}

.pos-v-top {
    top: 0;
}

.pos-v-high {
    top: 30vh;
}

.pos-v-low {
    top: 70vh;
}

.pos-v-bot {
    bottom: 0;
}

#dlgresponses {
    display: flex;
    flex-direction: column;
}

.response-button {
    background-color: var(--ue-bg-color);
    color: var(--ue-color);
    border: 1px solid transparent;
    outline: none;
    text-shadow: inherit;
    width: 20em;
    height: 2em;
}

.response-button:hover {
    background-color: var(--ue-focus-bg-color);
    color: var(--ue-focus-color);
    border: var(--ue-focus-border);
}

.response-button:active {
    background-color: var(--ue-active-bg-color);
    color: var(--ue-active-color);
    border: var(--ue-active-border);
}
